<?xml version="1.0"?>
<launch>
    <!-- file path -->
    <arg name="dir_path" default="$(env HOME)/bagfiles/multi_robot/six_roomba_20210513/replace_ns_bagfiles/" />
    <arg name="rviz_path" default="$(env HOME)/tools/config/rviz/" />

    <arg name="is_color" default="true" />
    <arg name="is_depth" default="true" />
    <arg name="is_depth_pc" default="true" />

    <!-- rosbag -->
    <node pkg="rosbag" type="play" name="play" args="--clock $(arg dir_path)roomba1.bag $(arg dir_path)roomba2.bag" />

    <!-- manager -->
    <arg name="manager_name" default="nodelet_magager" />
    <node pkg="nodelet" type="nodelet" name="$(arg manager_name)" args="manager" output="screen" />

    <!-- color -->
    <group if="$(arg is_color)" >
        <!-- roomba1 -->
        <node pkg="image_transport" type="republish" name="color_republish_1" args="compressed raw" >
            <remap from="in" to="roomba1/camera/color/image_rect_color" />
            <remap from="out" to="roomba1/camera/color/image_rect_color" />
        </node>

        <!-- roomba2 -->
        <node pkg="image_transport" type="republish" name="color_republish_2" args="compressed raw" >
            <remap from="in" to="roomba2/camera/color/image_rect_color" />
            <remap from="out" to="roomba2/camera/color/image_rect_color" />
        </node>
    </group>

    <!-- depth -->
    <group if="$(arg is_depth)" >
        <!-- roomba1 -->
        <node pkg="image_transport" type="republish" name="depth_republish_1" args="compressed raw" >
            <remap from="in" to="roomba1/camera/aligned_depth_to_color/image_raw" />
            <remap from="out" to="roomba1/camera/aligned_depth_to_color/image_raw" />
        </node>

        <!-- roomba2 -->
        <node pkg="image_transport" type="republish" name="depth_republish_2" args="compressed raw" >
            <remap from="in" to="roomba2/camera/aligned_depth_to_color/image_raw" />
            <remap from="out" to="roomba2/camera/aligned_depth_to_color/image_raw" />
        </node>
    </group>

    <!-- depth point cloud -->
    <group if="$(arg is_depth_pc)" >
        <!-- roomba1 -->
        <node pkg="nodelet" type="nodelet" name="point_cloud_xyzrgb_1" args="load depth_image_proc/point_cloud_xyzrgb $(arg manager_name)">
            <remap from="rgb/camera_info" to="roomba1/camera/color/camera_info" />
            <remap from="rgb/image_rect_color" to="roomba1/camera/color/image_rect_color" />
            <remap from="depth_registered/image_rect" to="roomba1/camera/aligned_depth_to_color/image_raw" />
            <remap from="depth_registered/points" to="roomba1/camera/depth_registered/points" />
        </node>

        <!-- roomba2 -->
        <node pkg="nodelet" type="nodelet" name="point_cloud_xyzrgb_2" args="load depth_image_proc/point_cloud_xyzrgb $(arg manager_name)">
            <remap from="rgb/camera_info" to="roomba2/camera/color/camera_info" />
            <remap from="rgb/image_rect_color" to="roomba2/camera/color/image_rect_color" />
            <remap from="depth_registered/image_rect" to="roomba2/camera/aligned_depth_to_color/image_raw" />
            <remap from="depth_registered/points" to="roomba2/camera/depth_registered/points" />
        </node>
    </group>

    <!-- rviz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rviz_path)/rviz.rviz"/>

</launch>
